 html {
  overflow-x: hidden;
 }

 body {
  background-color: #000 !important;
 }

 article {
   border: 2px solid black;
   margin: 4rem 0;
 }

 div {
   margin-bottom: 2rem;
   margin-top: 2rem;
 }

 hr {
   background-color: #fff;
   color: #fff;
   height: 0.5rem;
   width: 80%;
 }

 section {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat( auto-fit, minmax( 250px, 1fr ) );
}

  .btn-margin  {
   margin-top: 12rem;
 }
